.radio-wrapper-4 {
  user-select: none;
  display: inline-flex;
  align-items: center;
}

.radio-wrapper-4 label {
  padding-left: .3em;
  color: #414552;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

.radio-wrapper-4 label:hover,
.radio-wrapper-4 input[type="radio"]:hover~label {
  color: #14134e;
}

.radio-wrapper-4 input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(64, 68, 82, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(64, 68, 82, 0.08) 0px 2px 5px 0px;
  transition: all 240ms ease;
  margin: 0;
  vertical-align: middle;
}

.radio-wrapper-4 input[type="radio"]:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.25);
  transition: all 240ms ease-in-out;
}

.radio-wrapper-4 input[type="radio"]:checked {
  background-color: #34a265;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(1, 80, 14) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(64, 68, 82, 0.08) 0px 2px 5px 0px;
}

.radio-wrapper-4 input[type="radio"]:checked:focus {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(1, 150, 237, 0.36) 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(0, 87, 39) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(64, 68, 82, 0.08) 0px 2px 5px 0px;
}

.radio-wrapper-4 input[type="radio"]:checked:after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: #34a265 0px 0px 0px 1px;
}

.cards {
  display: grid;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1032px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.pop-up {
  animation: popUp 1s ease-out;
}


/* styles.css or within a <style> tag */
.modal {
  opacity: 1;
  /* Start invisible */
  animation: fadeIn 0.5s forwards;
}

.close {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: translate(-50%, -60%);
    /* Slightly higher position */
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
    /* Center position */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}


.modal-message::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Define the thumb style */
.modal-message::-webkit-scrollbar-thumb {
  background: #000000;
  /* #4d7fff */
  border-radius: 10px;
}

/* Define the track style */
.modal-message::-webkit-scrollbar-track {
  background-color: #fffefe;
  border: 5px solid #ffffff;
  border-radius: 10px;
}

/* Define the button style */
.modal-message::-webkit-scrollbar-button {
  /* background-color: #4d7fff; */
  border-radius: 5px;
}

/* Define the button style when being hovered over */
.modal-message::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

.icon {
  animation: rotate 0.5s forwards;
}

.drop-down {
  animation: show 0.5s ease-in-out forwards;
}

@keyframes show {
  0% {
    height: 0;
    opacity: 0;
    transform: scaleY(0.8);
  }

  100% {
    height: 12rem;
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes rotate {
  from {}

  to {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

